<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css">
    <title>Activités</title>
  </head>
  <header>
      <nav>
          <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="/animaux"">Animaux</a></li>
              <li><a href="/activites">Activites</a></li>
      {% if 'nom_utilisateur' in session %}
          <li><a href="/compteUtilisateur">Mon Compte</a></li>
      {% else %}
                  <li><a href="/connexion">Connexion</a></li>
      {% endif %}
          </ul>
      </nav>
  </header>
  <body>
    <h1>Accueil Activités</h1>
    <ul id="liste-activites"></ul>
    {% if 'nom_utilisateur' in session %}
      <button id="createActivites">Créez votre activité</button>
    {% endif %}

    <script>
    const btnCreate = document.getElementById("createActivites");
    if (btnCreate) {
      addEventListener("click", function() {window.location.href = "/create_activite";});
    }
    
      fetch("/infosActivites")
        .then((response) => response.json())
        .then((data) => {
          data.forEach((activites) => {

      const lien = document.createElement("a");
      lien.href = `/activites/${activites[0]}`;
      lien.textContent = activites[1];
      document.body.appendChild(lien);


            const date = document.createElement("p");
            date.textContent = activites[2];
            document.body.appendChild(date);

            const lieu = document.createElement("p");
            lieu.textContent = activites[3];
            document.body.appendChild(lieu);

            const description = document.createElement("p");
            description.textContent = activites[4];
            document.body.appendChild(description);

            
            const image = document.createElement("img");
            image.src = activites[5];
            image.style.width = "200px";
            document.body.appendChild(image);

             const dangerMax = document.createElement("p");
            dangerMax.textContent = activites[6];
            document.body.appendChild(dangerMax);
          });
        })
    </script>
  </body>
</html>
