<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css">
    <title>Activités</title>
  </head>
  <header class="site-header">
      <nav class="site-nav">
          <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="/animaux"">Animaux</a></li>
              <li><a href="/activites">Activites</a></li>
      {% if 'nom_utilisateur' in session %}
          <li><a href="/compteUtilisateur">Mon Compte</a></li>
      {% else %}
                  <li><a href="/connexion">Connexion</a></li>
      {% endif %}
          </ul>
      </nav>
  </header>
  <body>
    <main class="page page-activites">
    <h1 class="titre-page">Accueil Activités</h1>
    <ul id="liste-activites" class="grille-activites"></ul>
    {% if 'nom_utilisateur' in session %}
      <button id="createActivites" class="bouton bouton-principal">Créez votre activité</button>
    {% endif %}

    <script>
    const btnCreate = document.getElementById("createActivites");
    if (btnCreate) {
      btnCreate.addEventListener("click", function() {window.location.href = "/create_activite";});
    }
    
      fetch("/infosActivites")
        .then((response) => response.json())
        .then((data) => {
          data.forEach((activites) => {

      const carte = document.createElement("div");
      carte.className = "carte-activite";
      document.getElementById("liste-activites").appendChild(carte);

      const lien = document.createElement("a");
      lien.className = "carte-activite-lien";
      lien.href = `/activites/${activites[0]}`;
      lien.textContent = activites[1];
      carte.appendChild(lien);


            const date = document.createElement("p");
            date.className = "carte-activite-date";
            date.textContent = activites[2];
            carte.appendChild(date);

            const lieu = document.createElement("p");
            lieu.className = "carte-activite-lieu";
            lieu.textContent = activites[3];
            carte.appendChild(lieu);

            const description = document.createElement("p");
            description.className = "carte-activite-description";
            description.textContent = activites[4];
            carte.appendChild(description);

            
            const image = document.createElement("img");
            image.className = "carte-activite-image";
            image.src = activites[5];
            carte.appendChild(image);

             const dangerMax = document.createElement("p");
            dangerMax.className = "carte-activite-danger";
            dangerMax.textContent = activites[6];
            carte.appendChild(dangerMax);
          });
        })
    </script>
    </main>
  </body>
  </body>
</html>
