<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css">
    <title>Activités</title>
  </head>
  <header>
    <nav>
		<ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/animaux"">Animaux</a></li>
            <li><a href="/activites">Activites</a></li>
            <li><a href="/connexion">Connexion</a></li>
        </ul>
    </nav>
  </header>
  <body>
    <h1>Accueil Activités</h1>
    <ul id="liste-activites"></ul>

    <button id="createActivites">Créez votre activité</button>

    <script>
    document.getElementById("createActivites").addEventListener("click", function() {
    window.location.href = "/create_activite";});
    
      fetch("/infosActivites")
        .then((response) => response.json())
        .then((data) => {
          data.forEach((activites) => {
            const titre = document.createElement("h1");
            titre.textContent = activites[1];
            document.body.appendChild(titre);

             const date = document.createElement("h1");
            date.textContent = activites[2];
            document.body.appendChild(date);

             const lieu = document.createElement("h1");
            lieu.textContent = activites[3];
            document.body.appendChild(lieu);

             const description = document.createElement("h1");
            description.textContent = activites[4];
            document.body.appendChild(description);

             const image = document.createElement("h1");
            image.textContent = activites[5];
            document.body.appendChild(image);

             const dangerMax = document.createElement("h1");
            dangerMax.textContent = activites[6];
            document.body.appendChild(dangerMax);
          });
        })
    </script>
  </body>
</html>
