<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css" />
    <link rel="stylesheet" href="/static/accueil_animal.css" />
    <title>Fiche activité</title>
  </head>
  <header class="site-header">
    <nav class="site-nav">
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/animaux"">Animaux</a></li>
					<li><a href="/activites">Activites</a></li>
          {% if 'nom_utilisateur' in session %}
            	<li><a href="/compteUtilisateur">Mon Compte</a></li>
          {% else %}
						  <li><a href="/connexion">Connexion</a></li>
          {% endif %}
				</ul>
			</nav>
  </header>
  <body>
    <main class="page page-fiche-activite">
    <h1 class="titre-page">Fiche Activité</h1>

    <div id="fiche-activite" class="fiche-activite"></div>

    <script>
        const id = {{ id }};
      //console.log("id récupéré :", id);
       fetch(`/Recup_fiche_activite/${id}`)
         .then((response) => response.json())
         .then((data) => {
           console.log(data);

           const conteneur = document.getElementById("fiche-activite");

           const titre = document.createElement("h2");
           titre.className = "fiche-activite-titre";
           titre.textContent = data[1];
           conteneur.appendChild(titre);


           const date = document.createElement("p");
           date.className = "fiche-activite-date";
           date.textContent = data[2];
           conteneur.appendChild(date);


           const lieu = document.createElement("p");
           lieu.className = "fiche-activite-lieu";
           lieu.textContent = data[3];
           conteneur.appendChild(lieu);


           const description = document.createElement("p");
           description.className = "fiche-activite-description";
           description.textContent = data[4];
           conteneur.appendChild(description);

           const image = document.createElement("img");
           image.className = "fiche-activite-image";
           image.src = data[5]; // URL de l'image
           conteneur.appendChild(image);

           const dangerMax = document.createElement("p");
           dangerMax.className = "fiche-activite-danger";
           dangerMax.textContent = data[6];
           conteneur.appendChild(dangerMax);
         })
         ;
    </script>
    {% if 'nom_utilisateur' in session %}
    <form action="/delete_activite/{{ id }}" , method="POST" class="formulaire-suppression">
      <button type="submit" class="bouton bouton-danger">Supprimer l'activité</button>
    </form>
    {% endif %}
    </main>
  </body>
</html>
