<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css">
    <title>Accueil</title>
  </head>
  <header>
    <nav>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/animaux"">Animaux</a></li>
					<li><a href="/activites">Activites</a></li>
          {% if 'nom_utilisateur' in session %}
            	<li><a href="/compteUtilisateur">Mon Compte</a></li>
          {% else %}
					  <li><a href="/connexion">Connexion</a></li>
          {% endif %}
				</ul>
			</nav>
  </header>
  <body>
    {% if 'nom_utilisateur' in session %}
      <p>Bonjour {{ session['nom_utilisateur'] }} !</p>
    {% endif %}
    <h1>Liste des animaux</h1>
    <ul id="liste-animaux"></ul>

    <script>
 
    </script>
  </body>
</html>
