<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/generalstyle.css">
    <title>Accueil</title>
  </head>
  <header class="site-header">
    <nav class="site-nav">
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/animaux"">Animaux</a></li>
					<li><a href="/activites">Activites</a></li>
          {% if 'nom_utilisateur' in session %}
            	<li><a href="/compteUtilisateur">Mon Compte</a></li>
          {% else %}
					  <li><a href="/connexion">Connexion</a></li>
          {% endif %}
				</ul>
			</nav>
  </header>
  <script src="/static/easter_egg.js"></script>
  <body>
    <main class="page page-accueil">
    {% if 'nom_utilisateur' in session %}
      <p class="message-bienvenue">Bonjour {{ session['nom_utilisateur'] }} !</p>
    {% endif %}
    <h1 class="titre-page">La star du jour: </h1>
    <ul id="liste-animaux" class="grille-animaux"></ul>

    <script>
  fetch("/affichage_random")
    .then((response) => response.json())
    .then((animal) => {
            const carte = document.createElement("div");
            carte.className = "carte-animal carte-star";
            document.getElementById("liste-animaux").appendChild(carte);

            const nom = document.createElement("h2");
            nom.className = "carte-animal-nom";
            nom.textContent = animal[1]; 
            carte.appendChild(nom);

  //MOYENNE
  fetch(`/moyenne_animal/${animal[0]}`)  //  animal[0]=id
    .then(response => response.json())
    .then(moyData => {
      const moy = document.createElement("p");
      moy.className = "carte-animal-moyenne";
      moy.textContent = `Moyenne des notes : ${moyData[0]}/5`;
      nom.appendChild(moy);  
    });
    
//LIEN DYNAMIQUE
      const lien = document.createElement("a");
      lien.className = "carte-animal-lien";
      lien.href = `/animal/${animal[0]}`; //on cree le lien animal/3 qui sera reçu par flask (cf route)
      lien.textContent = animal[1];
      carte.appendChild(lien);
//AGE
            const age = document.createElement("h2");
            age.className = "carte-animal-age";
            age.textContent = animal[2];
            carte.appendChild(age);
//ESPECE
            const espece = document.createElement("h2");
            espece.className = "carte-animal-espece";
            espece.textContent = animal[3];
            carte.appendChild(espece);
//IMAGE
            const image = document.createElement("img");
            image.className = "carte-animal-image";
            image.src = animal[4]; // URL de l'image 
            carte.appendChild(image);

//DANGER
            const label = document.createElement("label");
            label.className = "carte-animal-danger";
            label.textContent = "Dangerosité: ";

            const progress = document.createElement("progress");
            progress.max = 5; // danger sur 5
            progress.value = animal[7]; 
            label.appendChild(progress);
            carte.appendChild(label);

            if (animal[7]<=1){
              progress.className = "faible";
            }
            else if (animal[7]<=2){
              progress.className = "peu";
            }
            else if (animal[7]<=3){
              progress.className = "moyen";
            }
            else {
              progress.className = "eleve";
            }


          //DESCRIPTION
            const des = document.createElement("h2");
            des.className = "carte-animal-description";
            des.textContent = animal[5];
            carte.appendChild(des);

          });
    </script>
    </main>
  </body>
  </body>
</html>
